@import url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
  font-family: "Poppins";
  background: linear-gradient(90deg, #66e78d, #0bc6e7);
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 3vw, 2.5rem);
  color: #ffffff;
  font-family: 'Gill Sans',sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(0.75rem, 1.5vw, 1.75rem);
  color: #f8f8f8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2em;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-weight: bolder;
  color: #333333;
  font-size: clamp(0.8rem, 1.1vw, 2.5rem);
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 0.7em;
}

button[type="submit"] {
  background-color: #46c061;
  color: #ffffff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
  transition: 0.3s ease;
}

button[type="submit"]:hover {
  background: #41ca53;
  box-shadow: 0 0 5px #41ca53, 0 0 25px #41ca53, 0 0 50px #89ee96;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto; /* Updated line */
  width: 80vw;
  max-width: 40rem;
  position: relative;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5;
}

/* Add responsive styles below */
/* Example media query for small devices */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  form {
    padding: 1rem;
  }

  label {
    font-size: 1rem;
  }

  input[type="text"] {
    font-size: 0.9em;
  }

  button[type="submit"] {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  #result {
    font-size: 1rem;
  }
}

footer p {
  font-weight: 500;
  font-size: clamp(.9rem,1.4vw,3rem);
  color: #fff;
  text-align: center;
}

.footer-a {
  text-decoration: none;
  background: none;
  color: #fff;
}

.footer-a:hover {
  color: #5a09f1;
}

.bx {
  color: #0028ad;
}
