body {
	font-family: Arial, sans-serif;
	background: linear-gradient(120deg, #98ff98, #00bfff);
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: clamp(1rem, 3vw, 2.5rem);
	color: #ffffff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 1rem;
	font-size: clamp(0.75rem, 1.5vw, 1.75rem);
	color: #f8f8f8;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 40rem;
	margin: 0 auto;
	margin-top: 2rem;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 2em;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	margin-bottom: 1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #333333;
	font-size: clamp(0.8rem, 1.1vw, 2.5rem);
	font-weight: bold;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: 0.7rem;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
	color: #333333;
	font-size: 0.7em;
}

button[type="submit"] {
	background-color: #46c061;
	color: #ffffff;
	padding: 1rem 2rem;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: bold;
	transition: 0.3s ease;
}

button[type="submit"]:hover {
	background: #41ca53;
	box-shadow: 0 0 5px #41ca53, 0 0 25px #41ca53, 0 0 50px #41ca53, 0 0 200px #41ca53;
}

#result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	width: 80vw;
	max-width: 40rem;
	position: relative;
	padding: 1.5rem;
	left: 10%;
	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	color: #333333;
	font-size: clamp(1rem, 2vw, 1.5rem);
	line-height: 1.5;
}
